@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    margin: 0;
}

body:after{
    display:none;
}

.bg { 
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#timer {

    /* Make the timer center in the middle of the screen */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#preload {
    display: none;
    width: 1;
    height: 1;
}
